.composer {
    display: flex;
    position: relative;
    width: 500px;
    height: 130px;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid var(--paletteColor4);
    border-radius: 3px;
    background-color: var(--paletteColor2);
    
    & img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        transition: border .5s ease;
        border: 1px solid var(--paletteColor5);
        border-radius: 50%;
        cursor: pointer;
    }

    & input[type='submit'] {
        position: absolute;
        right: 10px;
        bottom: 10px;
        transition: background-color .2s ease-in;
        cursor: pointer;
        width: 50px;
        height: 22px;
        outline: 0;
        border: 0;
        border-radius: 3px;
        background-color: var(--paletteColor6);
        color: var(--paletteColor2);
        letter-spacing: 1px;

        &:hover {
            background-color: var(--paletteColor7);
        }
    }

    & textarea {
        width: 410;
        height: 80px;
        margin-top: 7px;
        transition: font-size 0.5s ease;
        border: 0;
        outline: 0;
        font-size: 14px;
        font-weight: 300;
        resize: none;

        &::scrollbar {
            display: none;
        }

        &::placeholder {
            transition: color .4s ease-out;
            color: var(--paletteColor5);
        }

        &:focus::placeholder {
            color: var(--paletteColor5);
        }

        &:focus {
            font-size: 24px;
        }
    }
    
}


