.post {
    position: relative;
    width: 500px;
    margin-top: 10px;
    padding: 12px;
    border: 1px solid var(--paletteColor3);
    border-radius: 3px;
    background-color: var(--paletteColor2);
    word-wrap: break-word;
    
    & img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
        transition: border .5s ease;
        border: 1px solid var(--paletteColor5);
        border-radius: 50%;
        cursor: pointer;
    }

    & a, 
    & time {
        position: absolute;
        left: 60px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    & a {
        top: 15px;
        color: var(--paletteColor7);
        font-weight: 700;
    }

    & time {
        top: 35px;
        color: var(--paletteColor5);
        font-size: 12px;
    }

    & p {
        margin-top: 14px;
        font-size: 14px;
    }

    .cross {
        content: "";
        position: absolute;
        top: 12px;
        right: 12px;
        width: 10px;
        height: 10px;
        background-image: url('../../theme/assets/cross.png');
        background-repeat: no-repeat;
        cursor: pointer;

        &:hover {
            background-position: -13px 0;
        }
    }
}
